{
  "extends": "airbnb-base",
  "rules": {
    "no-underscore-dangle": [
      "error",
      {
        "allow": [
          "_id"
        ]
      }
    ],
    "no-console": "off",
    "eslint-disable": "off",
    "eslint-disable-line": "off",
    "eslint-disable-next-line": "off"
  }
}